@import '~bootstrap/scss/bootstrap';

header {
  display: block;
  margin: auto;
  padding: auto;
  background-color: #45f9ea;
}

h1 {
  // text-align: center;
  color: #3b69d8;
  font-size: 30px;
  // font-style: italic;
  font-family: monospace;
  text-align: center;
}
#header-sub{
  color: gray;
  font-size: 20px;
  font-style: italic;
  font-family: fantasy;
  text-align: right;
}

h5 {
  text-align: center;
  color: gray;
  font-size: 15px;
  margin: 5px 10px;
}

body {
  background-color: ccfdff;
}

td {
  border: 3px solid white;
  background-color: green;
  cursor: pointer;
  font-family: 'Arial';
  font-size: 70px;
  color: white;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  width: 100px;
}

table {
  animation: bounce .25s 3;
  margin: auto;
}

p {
  font-family: 'Arial';
  font-size: 20px;
  text-align: center;
}



h3 {
  text-align: center;
  margin: 20px 10px;
}

h4 {
  text-align: center;
  margin: 20px 10px;
}

.player-title-1 {
  text-align: center;
  margin: 20px 10px;
}

.gameboard {
  display: none;
}


footer {
background-color: #45f9ea;
position:fixed;
bottom: 0px;
width: 100%;
text-align: center;
height: 30px;
}

.form-group {
  display: inline-block;
  position: center;
  padding: 2px 13px;
}

#sign-in {
  display: block;
  margin: 20px 15px;
  padding: auto;
  background-color: #45f9ea;
  border-radius: 15px;
  border-width: medium;
}

#sign-up {
  display: block;
  margin: 20px 15px;
  padding: auto;
  background-color: #45f9ea;
  border-radius: 15px;
}

#message {
  display: block;
  font-size: 15px;
  margin: auto;
  background-color: orange;
  color: white;
}

#start-game {
  display: block;
  margin: auto;
  padding: auto;
}

#play-again {
  text-align: right;
  margin: 0px 0px 0px 200px;
}

#sign-out-button {
  text-align: center;
}

@media only screen and (min-width: 800px) {
  #sign-in,
  #sign-up,
  #message,
  header,
  #start-game,
  {
    width: 40%;
  }
}
