@import '~bootstrap/scss/bootstrap';

.col {
  border: 2px solid;
  height: 40vh;
}

.game-header {
  text-align: center;
}

h1 {
  text-align: center;
}

.gameboard {
  display: none;
}

footer {
  text-align: center;
}
