@import '~bootstrap/scss/bootstrap';

td {
  border: 3px solid #099999;
  cursor: pointer;
  font-family: 'Arial';
  font-size: 70px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  width: 100px;
}

table {
  animation: bounce .25s 3;
  margin: auto;
}

// .col {
//   border: 2px solid;
//   height: 40vh;
// }

p {
  text-align: center;
  font-family: 'Arial';
  font-size: 20px;
}

h1 {
  text-align: center;
}

.gameboard {
  display: none;
}

footer {
  text-align: center;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
